<section class="team">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center text-primary">Team</h1>
        <p class="text-center">Meet the Wreck it Sideways team</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 avatar">
        <%= image_tag 'tijs.jpg', class: 'center-block img-circle img-responsive' %>
        <h3 class="text-center text-primary">Tijs Lochbaum</h3>
        <p class="text-center"><%= link_to "Founder | Driver | Marketing", "#tizer"%></p>
      </div>
      <div class="col-md-4 avatar">
        <%= image_tag 'ricardo.jpg', class: 'center-block img-circle img-responsive' %>
        <h3 class="text-center text-primary">Ricardo Severijns</h3>
        <p class="text-center"><%= link_to "Founder | Driver | Media", "#ricardo" %></p>
      </div>
      <div class="col-md-4">
        <%= image_tag 'edo.jpg', class: 'center-block img-circle img-responsive' %>
        <h3 class="text-center text-primary">Edo Seegers</h3>
        <p class="text-center"><%= link_to "Driver", "#edo" %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 avatar">
        <%= image_tag 'reinier.jpg', class: 'center-block img-circle img-responsive' %>
        <h3 class="text-center text-primary">Reinier Tan</h3>
        <p class="text-center"><%= link_to "Driver", "#reinier"%></p>
      </div>
      <div class="col-md-4 avatar">
        <%= image_tag 'bop.jpg', class: 'center-block img-circle img-responsive' %>
        <h3 class="text-center text-primary">Bop Westerduin</h3>
        <p class="text-center"><%= link_to "Driver | Media", "#bop" %></p>
        <div id="bop" style="display:none;width:500px;">
          Hey man
        </div>
      </div>
      <div class="col-md-4 avatar">
        <a href="#bauke" class="fancybox"><%= image_tag 'bauke.jpg', class: 'center-block img-circle img-responsive' %></a>
        <h3 class="text-center text-primary">Bauke van Wieren</h3>
        <p class="text-center"><%= link_to "Driver | Media", "#bauke" %></p>

      </div>
    </div>
  </div>
</section>
